<h1>Step 4: Make content more generic with Angular</h1>

<p>
  Now that we have displayed a list of recipes, we have noticed some code
  duplication happening. <br />
  Let's try to make this more generic !
</p>

<div class="recipe">
  <img class="recipe__picture" [src]="recipe.picture" />
  <h3>
    {{ recipe.title }}
  </h3>
</div>

<div class="recipes">
  <div class="recipe" *ngFor="let recipe of recipes">
    <img class="recipe__picture" [src]="recipe.picture" />
    <h3>
      {{ recipe.title }}
    </h3>
  </div>
</div>
